html {
    height: 100%;
}
body {
    background: url('/img/bg.png') repeat repeat;
    height: 100%;
}

/* quote */
.quotes-bar {
    width:800px;
    height:40px;
    position:relative;
    padding:5px 5px 0 80px;
    line-height: 1;
}

.quotes-bar .author{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 10px;
}

/*end quote*/

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height:60px;
}

.page-content{
    padding:15px 5px 120px 5px;
    overflow-y: auto;
    margin: 0 auto;
    min-height: calc(100% - 125px);;
}

.s-remove-link{
    color: red;
    cursor: pointer;
}